h1{
  color: blue;
  font: sans-serif;
  text-align: center;

}

h2{
  color: red;
  font: Arial;
  text-align:center;
}

h3{
  color: green;
  text-align: center;
}

img{
  width: 300px;
  height: 300px;
  float: middle;
}
